/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


 html{
    scroll-behavior: smooth;
    animation: fade linear;
    animation-timeline: view();
 }

main {
  background: #F7EFE5;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color:#7743DB;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  
}
.nav_logo {
  padding: 10px 0;
}



.menu_items {
  display: flex;
  list-style: none;
  gap: 20px;
}
a {
  color: white;
  text-decoration: none;
  
  
}

.nav_link{
    font-size: 1.20rem;
}

a:hover{
    color: #7743DB;
    background-color: #FDF4F5;
    border: 2px solid #C3ACD0;
    border-radius: 5px;
    box-shadow: 0 10px 15px #7743DB;
}

/* Hero */
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: url(images/bg-dot.png), url(images/bg-dot.png), url(images/bg-round.png), url(images/bg-tree.png);
  background-position: 10px 10px, bottom 215px right 10px, left 55% top -1%, left 45% bottom -1px;
  background-repeat: no-repeat;
}



.curveImg {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.hero .row {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 0 60px;
  gap: 30px;
  justify-content: space-between;
}
.hero .row h2,
.hero .row p {
  color: #fff;
}
.hero .row h2 {
  font-size: 1.25rem;
  margin-bottom: 16px;
}
.hero .column {
  width: 50%;
}
.buttons {
  display: flex;
  margin-top: 25px;
  gap: 10px;
  
}
.btn {
  padding: 14px 26px;
  background: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  
}
.btn:last-child {
  border: 2px solid #7743DB;
  background: transparent;
  color: #7743DB;
}
.btn:last-child:hover {
  background-color: #C3ACD0;
  color: black;
}
.hero_img {
  width: 100%;
  z-index: 10;
  position: relative;
}
#menu_toggle {
  display: none;
}

/* Reponsive */
@media (width < 860px) {
  #menu_toggle {
    display: block;
  }
  .nav {
    padding: 0 20px;
    background-color: #7743DB;
  }

  .menu_items {
    position: fixed;
    top: 0;
    width: 260px;
    background-color: #7743DB;
    height: 100%;
    left: -100%;
    padding: 50px 30px 30px;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .showMenu .menu_items {
    left: 0;
  }
  a {
    color: #F7EFE5;
  }

a:hover{
    border: 2px solid #C3ACD0;
    border-radius: 5px;
}

  #menu_toggle {
    width: 20px;
    cursor: pointer;
    
  }
  .menu_items #menu_toggle {
    position: absolute;
    top: 20px;
    right: 20px;
   
  }
  .hero {
    padding-top: 130px;
  }
  .hero .row {
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
  }
  .hero .row .column {
    width: 100%;
  }
}

@media (width < 600px) {
  .hero {
    padding-top: 80px;
  }
  .hero .row h2 {
    font-size: 26px;
  }
  .btn a{
    justify-content: center;
  }
  .btn {
    padding: 10px 16px;
  }
}


.about{
  width: 100%;
  padding: 100px 0;
  background-color: #FFFBF5;

}

.about img{
  
  height: auto;
  width: 430px;
}


.about-text{
  
  width: 50%;
  
}
.about-text .heading{
    text-align: left;
  padding-bottom: 15px;
  color:#7743DB;
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
  font-size: 1.5rem;
  font-weight: bold;
}
.main{
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (width < 600px) {
 .about img {
  display: none;
 }
 

}
  
.container-skills{
  background:#F7EFE5;
  padding:15px 9%;
  padding-bottom: 100px;
}

.container-skills .heading{
  text-align:left;
  padding-bottom: 15px;
  color:#7743DB;
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
  font-size: 1.5rem;
}

.container-skills .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap:15px;
}

.container-skills .box-container .box{
  box-shadow: 0 5px 10px #C3ACD0;
  border-radius: 5px;
  background: #FFFBF5;
  text-align: center;
  padding:30px 20px;
  font-size: medium;
}

.container-skills .box-container .box img{
  height: 80px;
}

.container-skills .box-container .box h3{
  color:#444;
  font-size: 1.25rem;
  padding:10px 0;
  text-align: left;
}

.container-skills .box-container .box p{
  color:black;
  font-size: 1rem;
  line-height: 1.8;
  text-align: left;
}



.container-skills .box-container .box:hover{
  box-shadow: 0 10px 15px #7743DB;
  transform: scale(1.03);
  
}

@media (max-width:768px){
  .container-skills{
      padding:20px;
  }
}

.projects{
  background:#FFFBF5;
  padding:15px 9%;
  padding-bottom: 100px;
}

.projects .heading-2{
  text-align: left;
  padding-bottom: 15px;
  color:#7743DB;
  
  font-size: 1.5rem;

}

.projects .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
  }
  
  .projects .box-container .box{
    box-shadow: 0 5px 10px #C3ACD0;
    border-radius: 5px;
    background: #FFFBF5;
    text-align: center;
    padding:30px 20px;
    font-size: medium;
    width: 200px;
  }
  
  
  
  .projects .box-container .box h3{
    color:#444;
    font-size: 1.25rem;
    padding:10px 0;
    text-align: left;
  }
  
  .projects .box-container .box p{
    color:black;
    font-size: 1rem;
    line-height: 1.8;
    text-align: left;
  }
  
  
  
  .projects .box-container .box:hover{
    box-shadow: 0 10px 15px #7743DB;
    transform: scale(1.03);
    
  }
  
.projects .btn{
    display: flex;
    justify-content: left;
    width: 150px;
    border-radius: 7px;
}

  @media (max-width:768px){
    .projects{
        padding:20px;
    }}




.contact-me .heading-2{
    color: #7743DB;
    text-align: left;
    font-size: 1.5rem;
}

.contact-me{
    width: 100%;
    height: 290px;
    background-color: #F7EFE5;
    display: flex;
    
    flex-direction: column;
    justify-content: left;
    padding-left: 150px;
}

.contact-me p{
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 25px;

}

.contact-me a{
    color: black
}

.contact-me a:hover{
    width: 200px;
}

.social i{
    font-size: 1.75rem;
    color: black;
}

@media (max-width:768px){
    .contact-me{
        padding:20px;
    }}


footer{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #FFFBF5;
    display: flex;
    flex-direction: column;
   
    justify-content: left;
    padding: 150px;
    
}


footer p:nth-child(1){
    font-size: 1.5rem;
    color: #7743DB;
    font-weight: bold;

}


footer p{
    color: black;
}

footer a{
    color: black;
}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  
